.title {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 30px;
}

#goBackView {
    background-color: grey;
    height: 70px;
}

#alert {
    display: none;
}

img {
    background: url('images/loading.gif') no-repeat;
    background-size: contain;
}

.loader {
    right: 10px;
    top: 10px;
    align-self: center;
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content {
    margin: 0;
    padding: 0;
}

#total-due {
    margin: 10px 10px;
}

#sidebar {
    padding: 30px;
    margin: 0;
    border: 1px solid black;
}

#sidebar table {
    padding: 15px auto;
    width: 100%;
}

#sidebar table th {
    background-color: grey;
}




/*
.center-image {
    margin: 5px auto;
}
*/

.dish-item {
    background-color: #dbdde0;
    margin: 15px;
    padding: 0;
    max-width: 150px;
    text-overflow: ellipsis;
}



#dishItemView {
    height: 100%;
}

.ellipsis {
    text-align: center;
    align-content: center;
}

.food [class*='col-'] {
    min-width: 150px;
    max-width: 172px;
    margin-bottom: 15px;
    text-overflow: ellipsis;
}

#dishSearchView {
    padding: 15px;
    border: 1px solid black;
}


#dinnerPrintoutView .media {
    margin: 10px 0px;
}

.avdelare {
    height: 180px;
    width: 1px;
    margin: 25px;
    /*border: black;*/
    background-color: #969696;
    /*margin-top: 25px;*/
}

#dinnerPrintoutView img {
    padding: 10px 10px;
    width: 100px;
}

.lyft {
    margin-bottom: 6px;
}

#dishDetailsView .ingr-table {
    background-color: lightyellow;
    margin: 10px 0px;
}

#sidebarTable {
    margin: 10px 0px;
}

/*
.full-pagee{
    position: fixed;
    height: 100vh;
}
*/